{% extends 'base.html.twig' %}

{% block title %}RoxyNails{% endblock %}

{% block body %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12" id="imgfixed"></div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Présentation</h2>
            </div>
        </div>
        <div class="row load-hidden mt-4" id="presentation">
            <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="{{ asset('uploads/images/roxy.jpg') }}" alt="" id="roxy">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-4">
                        <p><i>"J'axerai mon travail sur la qualité (de la prestation et des produits), l'innovation et je chercherai à vous proposer les dernières nouveautés
                                en matière de soins, désign et nails art."</i></p>
                        <div class="d-flex justify-content-center">
                            <i class="fab fa-facebook-square fa-2x mx-2"></i>
                            <i class="fab fa-twitter-square fa-2x mx-2"></i>
                            <i class="fab fa-instagram fa-2x mx-2"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 d-flex flex-column">
                <p>Je m'appelle Roxane, j'ai 29 ans et j'ai toujours été passionée par la manucure et le maquillage.<br>
                    Diplomée d'un CAP et BTS Esthéthique-Cosmétique j'ai travaillé 6 ans pour la franchise l'Onglerie à Saint Médard en Jalles avant de décider,
                    en Octobre 2019, de m'installer à mon propre compte.<br>
                    J'ai choisi de travailler avec la marque <a class="pink" href="https://www.crystalnails-france.com/" target="_blank">Crystal Nails</a>,
                    une grande famille dans le monde des ongles, au style particulier et avant-gardiste proposant des produits variés et de qualité.
                </p>
                <div class="d-flex justify-content-center pt-4">
                    <a href="{{ path('gallery') }}"><button class="mx-2 button-pink">Voir mes réalisations</button></a>
                    <a href="{{ path('service') }}"><button class="mx-2 button-pink">Voir mes prestations</button></a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
    <script>
        let slideRight = {
            distance: '150%',
            origin: 'left',
            opacity: null,
            delay: 500
        };

        ScrollReveal().reveal('#presentation', slideRight);
    </script>
{% endblock %}
