h1{
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}

.calendar{
    height: 80vh;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(7, 1fr);
}

.day{
    background-color: #f8e1fa;
    border: 1px solid #fff;
    font-size: 1.2em;
    text-align: center;
    border-radius: 20px;

}

.rdv{
    font-size: 0.7em;
    color: #bb4c7b;
    cursor: pointer;
    font-weight: bold;
}

.off{
    background-color: #e2e2e2;
}

.rdv:hover{
    color: #bb4c7b;
}

.unavaible{
    display: none;
}

.fa-arrow-left, .fa-arrow-right{
    cursor: pointer;
}

button:disabled{
    color: grey;
    border-color: grey;
    box-shadow: none;
}

button:disabled:hover{
    background-color: lightgray;
}
